<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">
      Enter your email
      <p class="subTitle">To receive a reset passwor link</p>
    </ion-title>
  </div>
  <div>
    <ion-item>
      <ion-input class="input" placeholder="Enter your email" />
      <ion-icon name="person-outline"></ion-icon>
    </ion-item>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button [routerLink]="['/login']">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
